<h1> here you can is the Cohort's Home Page </h1>
<h4> <%= link_to 'Create a new Cohort', new_cohort_path %>
</h4>


<% @cohorts.each do |cohort| %>
<div>
  Course Name: <%= cohort.name  %>
</div>
<div>
  Start Date <%= cohort.start_date  %>
</div>
<div>
 End Date <%= cohort.end_date  %>
</div>

<% end %>
