<h1> here you can see all Cohort's Students probably wont use  </h1>

</h4>


<% @cohort_students.each do |cohort| %>
<div>
  Cohort: <%= cohort.cohort.name %>
</div>
<div>
  Students: <%= cohort.student.first_name + ' ' + cohort.student.last_name %>
</div>

<% end %>
