
    <div id="content">
      <div class="container-fluid">


        <div class="row mx-3">
          <div class="col-lg-12">
            <div class="xlg-font underline d-inline">
        <% if users == @cohorts %>
              Cohort's Area
        <% elsif users == @students %>
              Student's Area
        <% elsif users == @courses %>
               Course's Area
        <% else %>
             Instructor's area
        <% end %>
            </div>
            <div class="md-font-white float-right">
              Logout
            </div>
          </div>
        </div>


        <div class="row mx-3 mt-4">
          <div class="col-lg-12">
            <div class="bx-color bx-sm">

                <div class="row">
                      <div style="display: flex; justify-content:center; align-items:center" class="col-md-2">
                        <%= image_tag image_path('instructor-icon.png'), :class => 'icon-width-lg' %>
                      </div>
                      <div class="col-md-2 md-font-white mt-3">
                        <div class="text-center">
                          <% if users == @instructors %>
                                Instructor
                          <% elsif users == @students %>
                                Student
                          <% elsif users == @courses %>
                               Course
                          <% else %>
                               Cohort
                          <% end %>
                        </div>
                        <div class="text-center">

                        </div>
                      </div>


                </div>


            </div>
          </div>
        </div>

        <div class="row m-3 mt-5">
           <div class="col-lg-12">
              <div class="container bx-color bx-xlg py-3">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-block">
                          <div class="row m-0">
                            <div class="card-title col-lg-3 justify-content-center align-self-center">
                              
                                <i style="color:black" class="fas fa-user-circle fa-4x"></i>
                             </div>
                             <div class="p-2 col-lg-9">

                               <%= render 'form' %>

                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                </div>
             </div>
          </div>
       </div>




<!-- container fluid  -->
      </div>
<!-- content  -->
    </div>
