
    <div id="content">

      <div class="container-fluid">
        <div class="row mx-5">
          <div class="col-lg-12">
            <div class="xlg-font underline d-inline">
              Instructors Area
            </div>
            <div class="md-font-white float-right">
              Logout
            </div>
          </div>
        </div>


        <div class="row mx-5 mt-4">

          <div class="col-lg-12">
            <div class="bx-color bx-sm">
              <div class="lg-font p-3">
                Instructors
                <div class="xlg-font float-right">
                  <i class="fas fa-plus-circle"></i>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row m-5">
          <div class="col-lg-12">
            <div class="bx-color bx-xlg">

                <div class="row p-4">

                  <div class="col-lg-4 col-sm-12">
                   <div class="user-bx">
                     <div class="col-lg-3">
                        <i style="color:#fefef9" class="fas fa-user-circle fa-3x"></i>
                     </div>
                     <div class="col-lg-9">
Stuffffff
                     </div>
                   </div>
                  </div>

                  <div class="col-lg-4 col-sm-12">
                     <i class="fas fa-user-circle"></i>
                  </div>

                  <div class="col-lg-4 col-sm-12">
                     <i class="fas fa-user-circle"></i>
                  </div>

                </div>


            </div>
          </div>
        </div>


      </div>

    </div>
