$black-shadow: rgba(0, 0, 0, 0.1);
$sidebar-background: #253e47;
$whiteish: #ebebeb;
$black:  black;
$under-line-blue: #7db6ab;
$color_moody_blue: #6d7fcc;
$primary-bg: #1d3037;
$primary-box: #2f3e47;
$gray: rgba(45, 44, 44, 0.50);

//fonts

$OpenSans: 'Open Sans', sans-serif;;

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;
