<h1> here you can is the Course's Home Page </h1>
<h4> <%= link_to 'Create a new Course', new_course_path %>
</h4>


<% @courses.each do |course| %>
<div>
  Course Name: <%= course.name  %>
</div>
<div>
  Hours: <%= course.hours  %>
</div>

<% end %>
