/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap/scss/bootstrap
 *= require toastr/toastr
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

 @import 'partials/variables';
 @import 'partials/mixins';


 //colors

 $black-shadow: rgba(0, 0, 0, 0.1);
 $sidebar-background: #253e47;
 $whiteish: #ebebeb;
 $black:  black;
 $under-line-blue: #7db6ab;
 $color_moody_blue: #6d7fcc;
 $primary-bg: #1d3037;
 $primary-box: #2f3e47;
 $gray: rgba(45, 44, 44, 0.50);

 //fonts
 $Mont-Heavy: Mont-HeavyDEMO;
 $Mont-Light: Mont-ExtraLightDEMO;
 $OpenSans: OpenSans;

// forms

.fit-content {
  width: fit-content
}
.row-center-100 {
  justify-content: center;
  align-items: center;
  height: 100%;
}
  .field {
    display: block;
    border: 1px solid $gray;
    float: left;
    width: 100%;

    &.last {
    border: 0;
    }

    label {
      display: inline;
      font-size: .8rem;
      padding: .5rem .3rem 0;
      text-transform: uppercase;
      color: #999;
      font-weight: 700;
      letter-spacing: 1px;
    }

    input {
      display: inline;
      width: 100%;
      padding: .3rem .8rem;
      font-size: 1rem;
      border: 0;
      color: #212121;
      outline: 0;
    }
  }

  input[type='radio'] {
    width: 5%;
  }


  // button


 a {
 	text-decoration: none;
  color: $under-line-blue;

 	&:hover {
 		text-decoration: none;
    color: $gray;
 	}
 	&:focus {
 		text-decoration: none;

 	}
 }

 .navbar {
 	padding: 15px 10px;
 	background: white;
 	border: none;
 	border-radius: 0;
 	margin-bottom: 40px;
 	box-shadow: 1px 1px 3px $black-shadow;
 }
 .navbar-btn {
 	box-shadow: none;
 	outline: none !important;
 	border: none;
 }
 .wrapper {
 	display: flex;
 	align-items: stretch;
 }
 #sidebar {
 	min-width: 250px;
 	max-width: 250px;
 	background: $sidebar-background;
 	color: white;
 	transition: all 0.3s;
 	font-family: $Mont-Heavy;
 	&.active {
 		margin-left: -250px;
 	}
 	ul {
 		color: white;
 		padding: 10px;
 		&.components {
 			padding: 10px 0;
 		}
 		li {
 			a {
 				padding: 10px;
 				font-size: 1.1em;
 				display: block;
 				color: $whiteish;
 				&:hover {
 					color: $gray;
 					background: white;
 				}
 			}
 			&.active > a {
 				color: white;
 				border-right: 6px solid $black;
 			}
 		}
 	}
 }
 .underline {
 	text-decoration: underline $under-line-blue solid;
 }
 .xlg-font {
 	font-family: $Mont-Light;
 	font-size: 1.8vw;
 	color: white;
 	letter-spacing: 5px;
 }
 .lg-font {
 	font-family: $Mont-Light;
 	font-size: 1.6vw;
 	color: white;
 	letter-spacing: 3px;
 }
 .md-font-black {
 	font-size: 1.1vw;
 	letter-spacing: 4px;
 	color: $black;
 }
 .md-font-white {
 	font-family: $Mont-Heavy;
 	font-size: 1.1vw;
 	letter-spacing: 4px;
 	color: white;
 }

 .md-open-sans {
 	font-family: $OpenSans;
 	font-size: 1.1vw;
 	color: white;
 	letter-spacing: 6px;
 }

 .xsm-gray {
   font-family: $Mont-Light;
   font-size: .7vw;
   color: gray;
 }
 .sm-black-OpenSans {
   font-size: .8vw;
   color: $black;
   font-family: $OpenSans;
 }

 #content {
 	padding: 20px;
 	min-height: 100vh;
 	transition: all 0.3s;
 	background-color: $primary-bg;
 	width: 100%;
 }
 .bx-color {
 	background: $primary-box;
 	box-shadow: 0 2px 9px 0 $gray;
 }


 .bx-lg {
 	height: 325px;
 }
 .bx-xlg {
 	height: 100%;
 }
 .icon-width {
 	width: 40px;
 }

 .icon-width-lg {
   max-width: 60px;
 }

 ul ul a {
 	font-size: 0.9em !important;
 	padding-left: 30px !important;
 	background: $color_moody_blue;

 }

 // user details cards

.user-bx {

  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  height: 100px;
  background-color:white;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


// button hover


 @media(max-width: 768px) {
 	#sidebar {
 		margin-left: -250px;
 		&.active {
 			margin-left: 0;
 		}
 	}
 }
